{{#form-for controller action='save'}}
  <div>
    {{input name placeholder="App Name"}}
  </div>
  <div>
    {{input app_url placeholder="URL of Deployed Version"}}
  </div>
  <div>
    {{submit "Create Project"}}
  </div>
{{/form-for}}
