<h3>About</h3>

<div class="row">
  <div class="small-12 columns">
    <p>My name's Chris Cerami and I'm a web developer from New Jersey, now living in Boston. I built this site to make it easier to share the apps I've built in my short career as a developer. If you want to contact me, my details are below.</p>

    Email:
    <p><a href="mailto:chrisccerami@gmail.com" target="_top">chrisccerami@gmail.com</a></p>
    Other places to find me online:
    <div><a href="https://github.com/chrisccerami">GitHub</a></div>
    <div><a href="https://linkedin.com/in/chrisccerami">LinkedIn</a></div>
    <div><a href="https://twitter.com/chrisccerami">Twitter</div>
  </div>
</div>
