@import "settings";

@import "foundation";

body {
  background-color:#E3E7DF;
}

* {
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-size: 10pt;
}

a {
  color: #028F76
}

.content {
  background-color: #1C2130;
  padding: 25px;
  color: #D5C8A3;
}

.content h3 {
  color: #D5C8A3;
}

button {
  background-color: #028F76;
}

.panel {
  background-color: #D5C8A3;
  color: #1C2130;
  padding: 5px;
}

.index {
  margin-top: 4px;
  margin-bottom: 4px;
}
